@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

/*NAV*/
a:focus, a:visited, a:link{
    text-decoration: none;
    color: white;
}

header{
    background-image: url(imgs/bg-3.jpg);
    background-position: 100%;
    background-size: 100%;
}

@media (max-device-width: 700px){
    header{
        background-image: url(imgs/bg-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;

}
}


#textoNav{
    display: flex;
    justify-content: flex-end;
}

ul{
    font-family: arial;
    list-style: none;
    display: flex;
}

li{
    color: white;
    margin: 10px;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    transition: 0.2s;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

/*FIM NAV*/
/*RESTO HEADER*/
#mainText{
    font-family: arial;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 1px black;
    text-transform: uppercase;
}

#button{
    display: flex;
    justify-content: center;
}

button{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgba(255,255,255,1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-top:60px ;
    transition: 0.2s;
    border-radius: 5px;
}

button:hover{
    font-size: 1.4rem;
}

button:focus {
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;}
/*FIM HEADER*/
/*INICIO MAIN*/
#cards{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}

#cards p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    color: white;
    background-color: #2d2d2d;
    text-transform: uppercase;
    
}

section{
    background: white;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
}

section h1{
    background: #e2e2e2;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    box-shadow: 0px 4px 0px 0px #b7b7b7
}

section p{
    margin-top: 10px;
}

section p{
    font-family: Arial, Helvetica, sans-serif;
}
/*FIM MAIN*/
/*FOOTER*/
footer{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer a{
    font-size: 1rem;
    transition: 0.2s;
}

footer a:hover{
    font-size:1.3rem;
}
